.OnlineDemo {
    text-align: center;
    padding: 0px 30px 0px 30px;
    min-height: 660px;
}

.OnlineDemo .init-demo {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
    z-index: 100;
    padding: 30px 20px 30px 20px;
    font-size: 20px;
}

.OnlineDemo .start-demo {
    margin-top: 30px;
}

.OnlineDemo .covered {
    position: relative;
    filter: blur(30px);
    opacity: 0.3;
    pointer-events: none;
}

.OnlineDemo .uncovered {
    filter: blur(0px);
    transition: all 0.5s linear;
}

.OnlineDemo .customer-view {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.OnlineDemo .fake-window {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fcfcfc;
    box-shadow: 0px 0px 10px #aaaaaa55;
}

.OnlineDemo .fake-window .window-chrome {
    border-bottom: 1px solid #ccc;
    padding: 2px;
    background: #eee;
}

.OnlineDemo .fake-window .window-chrome-buttons {
    text-align: left;
    font-size: 0px;
}

.OnlineDemo .fake-window .window-chrome-buttons::before,
.OnlineDemo .fake-window .window-chrome-buttons::after {
    border-radius: 100%;
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px;
    background: white;
    opacity: 0.5;
    border: 1px solid #bbb;
}
