
.SegmentedInput {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
	border: 1px solid #3cc56e;
    border-radius: 5px;
    color: #3cc56e;
    overflow: hidden;
}

.SegmentedInput input[type='radio'] {
    display: none;
}

.SegmentedInput input[type='radio']:checked + label {
    background: #3cc56e;
    color: white;
}

.SegmentedInput input[type='radio']:not(:last-of-type) + label {
    border-right: 1px solid #3cc56e;
}

.SegmentedInput label {
    padding: 9px 13px;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    background: white;
}
