
.Device {
    padding: 7px;
    border-left: 5px solid transparent;
    display: flex;
    align-items: center;
}

.Device.online {
    border-left: 5px solid #3cc56e;
}

.Device .last-seen {
    font-size: 0.8em;
    color: #777;
}

.Device .platform-icon {
    width: 20px;
    margin: 0px 7px;
    pointer-events: none;
}

.Device .details {
    flex:1;
}
